.user-component__subtitle i {
  margin-left: 5px;
  color: tomato;
}

.more-screen .icon-row {
  margin-top: 20px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-screen .icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.more-screen .icon-row__icon {
  width: 25%;
  margin-top: 35px;
}
